In [1]:
from server_utils import market_data

data = market_data.get_daily_data_from_tickers(['AAPL', 'NVDA'], '2021-07-01', '2021-07-22') # pd dataframe

[*********************100%***********************]  2 of 2 completed

In [2]:
data.head()

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-06-30  136.169998  137.410004  135.869995  136.960007  136.960007
2021-07-01  136.600006  137.330002  135.759995  137.270004  137.270004
2021-07-02  137.899994  140.000000  137.750000  139.960007  139.960007
2021-07-06  140.070007  143.149994  140.070007  142.020004  142.020004
2021-07-07  143.539993  144.889999  142.660004  144.570007  144.570007

                             NVDA                                      \
               Volume        Open        High         Low       Close
Date
2021-06-30   63261400  199.992493  201.625000  198.637497  200.024994
2021-07-01   52485800  201.250000  204.559998  200.190002  202.119995
2021-07-02   78852600  204.402496  205.052505  202.877502  204.869995
2021-07-06  108181800  207.375000  208.419998  203.502502  206.985001
2021-07-07  104911600  208.535004  208.750000  203.320007  203.717499


             Adj Close    Volume
Date
2021-06-30  200.024994  32656800
2021-07-01  202.119995  48013600
2021-07-02  204.869995  34276400
2021-07-06  206.985001  44670800
2021-07-07  203.717499  41842800

In [10]:
data.dtypes

AAPL  Open         float64
      High         float64
      Low          float64
      Close        float64
      Adj Close    float64
      Volume         int64
NVDA  Open         float64
      High         float64
      Low          float64
      Close        float64
      Adj Close    float64
      Volume         int64
dtype: object

In [1]:
from data_management import DataManager
from datetime import datetime

dm = DataManager()
dm.add_user('snigelnmjau', datetime.today(), 'Patience wins in the long run')
dm.add_to_portfolio('snigelnmjau', ('AMD', 'GME'), (100, 1000))

localhost postgres Hiimgosu1 tutorial
ERROR:  duplicate key value violates unique constraint "investors_pkey"
DETAIL:  Key (user_name)=(snigelnmjau) already exists.

100%|██████████| 2/2 [00:00<00:00, 101.05it/s]

ERROR:  insert or update on table "portfolios" violates foreign key constraint "portfolios_user_name_fkey"
DETAIL:  Key (user_name)=(snigeln_mjau) is not present in table "investors".

ERROR:  current transaction is aborted, commands ignored until end of transaction block

In [6]:
from server_utils.data_management import DataManager

dm = DataManager()

dm.add_ticker('GOOGL', 'Google')

localhost postgres Hiimgosu1 tutorial
[*********************100%***********************]  1 of 1 completed
                Open      High       Low     Close  Adj Close     Volume
Date
1999-12-31  0.901228  0.918527  0.888393  0.917969   0.789364  163811200
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.859423  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.786965  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.798481  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.729382  767972800

100%|██████████| 5425/5425 [00:05<00:00, 1058.15it/s]

In [1]:
# add missing data
from server_utils import data_management

dm = data_management.DataManager()

dm.add_missing_daily_data()

dm.__del__()

localhost postgres Hiimgosu1 tutorial
2021-07-26 2021-07-29
[*********************100%***********************]  8 of 8 completed

c:\Users\cerik\Prog\Finance_Screener\venv\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

                  GOOGL                                                     \
                   Open        High          Low        Close    Adj Close
Date
2021-07-26  2666.570068  2684.73999  2646.030029  2680.699951  2680.699951
2021-07-27  2685.010010  2687.97998  2602.570068  2631.439941  2631.439941

                            GME                                      ...  \
             Volume        Open        High         Low       Close  ...
Date                                                                 ...
2021-07-26  1526300  180.360001  186.039993  178.759995  183.940002  ...
2021-07-27  1657112  183.000000  185.000000  176.660095  179.589996  ...

           NAS.OL                                   AAPL              \
              Low   Close Adj Close   Volume        Open        High
Date
2021-07-26  10.33  10.402    10.402  3355512  148.270004  149.830002
2021-07-27  10.40  10.450    10.450  2703886  149.119995  149.199997


                   Low       Close   Adj Close    Volume
Date
2021-07-26  147.699997  148.990005  148.990005  72269700
2021-07-27  145.550003  146.585999  146.585999  75588956

[2 rows x 48 columns]

  0%|          | 0/16 [00:00<?, ?it/s]

[datetime.date(2021, 7, 26) 148.27000427246094 149.8300018310547
 147.6999969482422 148.99000549316406 148.99000549316406 72269700 'AAPL']
[datetime.date(2021, 7, 26) 92.01000213623047 92.75 91.12000274658203
 91.81999969482422 91.81999969482422 27531300 'AMD']

100%|██████████| 16/16 [00:00<00:00, 921.75it/s]

[datetime.date(2021, 7, 26) 180.36000061035156 186.0399932861328
 178.75999450683594 183.94000244140625 183.94000244140625 1255400 'GME']
[datetime.date(2021, 7, 26) 2666.570068359375 2684.739990234375
 2646.030029296875 2680.699951171875 2680.699951171875 1526300 'GOOGL']
[datetime.date(2021, 7, 26) 216.1999969482422 216.39999389648438
 214.39999389648438 215.10000610351562 215.10000610351562 2400227
 'INVE-B.ST']
[datetime.date(2021, 7, 26) 10.520000457763672 10.682000160217285
 10.329999923706055 10.402000427246094 10.402000427246094 3355512 'NAS.OL']
[datetime.date(2021, 7, 26) 193.11000061035156 194.4199981689453
 189.13999938964844 192.94000244140625 192.94000244140625 20373800 'NVDA']
[datetime.date(2021, 7, 26) 208.10000610351562 209.25 207.4499969482422
 208.10000610351562 208.10000610351562 2363662 'VOLV-B.ST']
[datetime.date(2021, 7, 27) 149.1199951171875 149.1999969482422
 145.5500030517578 146.58599853515625 146.58599853515625 75588956 'AAPL']
[datetime.date(2021, 7, 27) 92.94000244140625 94.0999984741211
 89.0999984741211 91.43000030517578 91.43000030517578 57583432 'AMD']
[datetime.date(2021, 7, 27) 183.0 185.0 176.66009521484375
 179.58999633789062 179.58999633789062 1055455 'GME']
[datetime.date(2021, 7, 27) 2685.010009765625 2687.97998046875
 2602.570068359375 2631.43994140625 2631.43994140625 1657112 'GOOGL']
[datetime.date(2021, 7, 27) 212.60000610351562 214.5 210.0
 213.60000610351562 213.60000610351562 3067551 'INVE-B.ST']
[datetime.date(2021, 7, 27) 10.402000427246094 10.899999618530273
 10.399999618530273 10.449999809265137 10.449999809265137 2703886 'NAS.OL']
[datetime.date(2021, 7, 27) 192.64999389648438 196.1999969482422
 187.41000366210938 191.625 191.625 20912207 'NVDA']
[datetime.date(2021, 7, 27) 207.5 208.0500030517578 204.3000030517578
 204.39999389648438 204.39999389648438 2449463 'VOLV-B.ST']

In [1]:
import yfinance as yf

data = yf.download(['INVE-B.st', 'NVDA'], '2021-07-26', '2021-07-28')
data.head()

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
             INVE-B.ST        NVDA   INVE-B.ST        NVDA   INVE-B.ST
Date
2021-07-26  215.100006  192.940002  215.100006  192.940002  216.399994
2021-07-27  213.600006  191.479996  213.600006  191.479996  214.500000

                               Low                    Open              \
                  NVDA   INVE-B.ST        NVDA   INVE-B.ST        NVDA
Date
2021-07-26  194.419998  214.399994  189.139999  216.199997  193.110001
2021-07-27  196.199997  210.000000  187.410004  212.600006  192.649994

              Volume
           INVE-B.ST      NVDA
Date
2021-07-26   2400227  20373800
2021-07-27   3067551  20634527

In [2]:
import yfinance as yf

data = yf.download(['INVE-B.st', 'NVDA'], '2021-07-26', '2021-07-28')
data.head()

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
             INVE-B.ST        NVDA   INVE-B.ST        NVDA   INVE-B.ST
Date
2021-07-26  215.100006  192.940002  215.100006  192.940002  216.399994
2021-07-27  213.600006  191.529999  213.600006  191.529999  214.500000

                               Low                    Open              \
                  NVDA   INVE-B.ST        NVDA   INVE-B.ST        NVDA
Date
2021-07-26  194.419998  214.399994  189.139999  216.199997  193.110001
2021-07-27  196.199997  210.000000  187.410004  212.600006  192.649994

              Volume
           INVE-B.ST      NVDA
Date
2021-07-26   2400227  20373800
2021-07-27   3067551  20707434