In [1]:
import market_data

data = market_data.get_daily_data_from_tickers(['AAPL', 'NVDA'], '2021-07-01', '2021-07-22') # pd dataframe

[*********************100%***********************]  2 of 2 completed

In [2]:
data.head()

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-06-30  136.169998  137.410004  135.869995  136.960007  136.960007
2021-07-01  136.600006  137.330002  135.759995  137.270004  137.270004
2021-07-02  137.899994  140.000000  137.750000  139.960007  139.960007
2021-07-06  140.070007  143.149994  140.070007  142.020004  142.020004
2021-07-07  143.539993  144.889999  142.660004  144.570007  144.570007

                             NVDA                                      \
               Volume        Open        High         Low       Close
Date
2021-06-30   63261400  199.992493  201.625000  198.637497  200.024994
2021-07-01   52485800  201.250000  204.559998  200.190002  202.119995
2021-07-02   78852600  204.402496  205.052505  202.877502  204.869995
2021-07-06  108181800  207.375000  208.419998  203.502502  206.985001
2021-07-07  104911600  208.535004  208.750000  203.320007  203.717499


             Adj Close    Volume
Date
2021-06-30  200.024994  32656800
2021-07-01  202.119995  48013600
2021-07-02  204.869995  34276400
2021-07-06  206.985001  44670800
2021-07-07  203.717499  41842800

In [10]:
data.dtypes

AAPL  Open         float64
      High         float64
      Low          float64
      Close        float64
      Adj Close    float64
      Volume         int64
NVDA  Open         float64
      High         float64
      Low          float64
      Close        float64
      Adj Close    float64
      Volume         int64
dtype: object

In [1]:
from data_management import DataManager
from datetime import datetime

dm = DataManager()
dm.add_user('snigelnmjau', datetime.today(), 'Patience wins in the long run')
dm.add_to_portfolio('snigelnmjau', ('AMD', 'GME'), (100, 1000))

localhost postgres Hiimgosu1 tutorial
ERROR:  duplicate key value violates unique constraint "investors_pkey"
DETAIL:  Key (user_name)=(snigelnmjau) already exists.

100%|██████████| 2/2 [00:00<00:00, 101.05it/s]

ERROR:  insert or update on table "portfolios" violates foreign key constraint "portfolios_user_name_fkey"
DETAIL:  Key (user_name)=(snigeln_mjau) is not present in table "investors".

ERROR:  current transaction is aborted, commands ignored until end of transaction block

In [6]:
from data_management import DataManager

dm = DataManager()

dm.add_ticker('GOOGL', 'Google')

localhost postgres Hiimgosu1 tutorial
[*********************100%***********************]  1 of 1 completed
                Open      High       Low     Close  Adj Close     Volume
Date
1999-12-31  0.901228  0.918527  0.888393  0.917969   0.789364  163811200
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.859423  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.786965  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.798481  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.729382  767972800

100%|██████████| 5425/5425 [00:05<00:00, 1058.15it/s]